DB_USER=postgres
DB_PASS=secretpassword
DB_NAME=postgres
DB_PORT=5432
DB_HOST=localhost
DATABASE_URL=postgresql://postgres:secretpassword@localhost:5432/postgres
JWT_SECRET=taman_secret_key_2026
VITE_API_BASE_URL=http://localhost:5000


# Email
MAIL_USERNAME=CHANGEME
MAIL_PASSWORD=CHANGEME
MAIL_RECEIVERS=CHANGEME

# Drive
GOOGLE_DRIVE_ROOT_FOLDER_ID=1gdC5apuCQrHIMCiATWpvRvwDUFhqnn65


GOOGLE_CLIENT_ID=381512652447-6up73u8dkgku94k6bl44ul3nkilfrqs2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=1//047ffRfCyhAYsCgYIARAAGAQSNwF-L9IrmDb95x0R_nAk2XCLZgX6x4uBKPqPOY6AKTw84a94MVRmjgTuWoxuQJclkyw6BGDxVxs