fastapi
alembic
uvicorn
slowapi
sqlalchemy
psycopg2-binary
passlib[bcrypt]
Pillow==10.3.0
bcrypt<4
apscheduler
google-auth
google-api-python-client
pandas

pillow-heif

openpyxl
python-dotenv
pytz
python-multipart
python-jose[cryptography]
